<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <svg xmlns="http://www.w3.org/2000/svg" style="color: white; margin-left:10px" width="20" height="20" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16" (click)="goBack()">
    <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
    <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
  </svg>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        </li>
        <!-- <li>
            <a class="nav-link" [routerLink]="[ '/login' ]">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" style="color: white;"  fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                 </svg>
          </a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link"[routerLink]="[ '/' ]">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="color: white;" class="bi bi-house" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
          </a>
          </li>

      </ul>
    </div>
  </nav>

  <body>

    <h3 style="text-align: center; margin-top: 10px;">Contenido de la cesta</h3>

    <div class="row" style="margin-top: 15px;">
      <!-- <div class="col-sm-12 col-md-6" *ngIf="items.length !=0">

        <div class="card" style="margin-left: 20px;">
          <div class="row"  *ngFor="let item of items">
            <div class="col-sm-3">
              <img class="card-img-top imgCesta" src="{{item.imagen}}" style="margin-left: 10px;" >
            </div>
            <div class="col-sm-9">
             
                <div class="card-body">
                  <h5 class="card-title"> {{item.nombre}}</h5>
                  <p class="card-text">{{item.precio}}$</p>
                </div>
              
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-sm-12 col-md-6" (cestaLista)="cestaLista" *ngIf="cestaLista.length !=0"> -->
      <div class="col-sm-12 col-md-6" *ngIf="cestaLista !== undefined && cestaLista.length !==0 ">

        <div class="card" style="margin-left: 20px; margin-bottom: 10px;" *ngFor="let c of cestaLista">
          <div class="row" >
            <div class="col-sm-3">
              <img class="card-img-top imgCesta" src="{{c.imagen}}" style="margin-left: 10px;" >
            </div>
            <div class="col-sm-8">
             
                <div class="card-body">
                  <h5 class="card-title"> {{c.nombre}}</h5>
                  <p class="card-text">{{c.precio}}$</p>
                </div>
              
            </div>
            <div class="col-sm-1 center" (click)="delete(c.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" *ngIf="cestaLista.length ==0">

        <div class="card" style=" text-align: center; font-style: italic;">
          <p>La cesta esta vacia</p>
        </div>
      </div>


      <div class="col-sm-12 col-md-6">
       <form class="card" style="padding: 10px;" [formGroup]="bankForm" name="blogForm">
        <div>
          <div class="row"> 
              <div> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
          </div>
         
            <div class="row">
              <div class="col-sm-3" style="width: 190px;">
                <span>Nombre</span>
              </div>
              <div class="col-sm-9">
                <input placeholder="Anastasiia Gorelova" type="text" style="width: 500px;" class="form-control" id="cardHolder" name="cardHolder" formControlName="cardHolder" required> 
              </div>
            </div> 
            <div class="row">
              <div class="col-sm-3" style="width: 190px;">
                <span>Numero tarjeta</span>
              </div>
              <div class="col-sm-9">
                <input placeholder="0125 6780 4567 9909" class="form-control" style="width: 500px;" id="cardNumber" name="cardNumber" formControlName="cardNumber" required>
              </div>
            <div class="row">
                <div class="col-sm-3" style="width: 190px;">
                  <span>Data de expiracion</span>
                </div>
                <div class="col-sm-9">
                   <input placeholder="YY/MM" class="form-control" id="exprDate" style="width: 500px;" name="exprDate" formControlName="exprDate" required>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-3" style="width: 190px;">
                  <span>CVV</span> 
                </div>
                <div class="col-sm-9">
                  <input id="cvv" placeholder="123" class="form-control" id="cvv" style="width: 500px;" name="cvv" formControlName="cvv" required> </div>
                </div>

            </div> 
         
        
      </div>

    </form>

    <div style="margin-top: 20px; text-align: center;">
      <button *ngIf="cartTotal == 0" style="display: block; width: 100%;" type="button" class="btn btn-primary" (click)="pagar()">Pagar
          <svg xmlns="http://www.w3.org/2000/svg"  style="margin-left: 10px;" width="20" height="20" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
              <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
              <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
              <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
            </svg>
      </button>


      <button *ngIf="cartTotal !== 0" style="display: block; width: 100%;" type="button" class="btn btn-primary" (click)="pagar()">Pagar <b>{{cartTotal}}</b>$
        <svg xmlns="http://www.w3.org/2000/svg"  style="margin-left: 10px;" width="20" height="20" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
            <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
            <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
          </svg>
    </button>
  </div>

      </div>

      
    </div>

    




  
  
  </body>



